* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    /*background-color: #eea;
    background-image: url('https://picsum.photos/800/400');
    background-repeat: no-repeat;
    background-position: center top;*/
    background: #eea url('https://picsum.photos/800/400') no-repeat center top;
    background-size: cover;
}

.container {
    border:deeppink 5px groove;
    min-height: 400px;
}

.container > div,
.container > span {
    background: #fff;
    border:1px solid cornflowerblue;
    color:orange;
    font-size: 1.5em;
    padding: 10px;
}

.container > div:nth-child(1) {
    background: #8ba;
}
.container > div:nth-child(2) {
    background: #e65;
}
.container > div:last-child {
    background: #588;
}
