/*Mobile first*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap');
:root {
    --primary-color: #fd7e14;
    --secondary-color: #1e283c;
    --dark-color: #212529;
    --white: #fff;
    --middle-grey: #818181;
    --base-font: 'Open Sans',Arial,sans-serif;
    --heading-font: 'Poppins',sans-serif;
}
ul, ol {
    list-style: none;
}
body {
    background: khaki;
    font-size:16px;
    color: var(--middle-grey);
}
html, body {
    height: 100%;
    font-family:var(--base-font);
    scroll-behavior: smooth;
}
h1,h2,h3,h4 {
    font-family: var(--heading-font);
    font-weight:900;
}
h1,h2 {
    text-transform: uppercase;
    color: var(--dark-color);
}
a {
    text-decoration: none;
    color:cornflowerblue;
}
/*tartalom hordozó konténerek (wrapper)*/
.container {
    background:yellow;
    padding:0 15px;
    margin:0 auto;/*legyen középen*/
}
section {
    background: pink;
    min-height:250px;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background:lightgrey;
    color:#111;
    border:none;
    font-size:1em;
    padding:.5em 1em;
    margin:15px 0;
    text-transform: uppercase;
    font-weight: bold;
    /*anim*/
    transition: background 600ms ease-in-out;
}

.btn:hover {
    background:#111;
    color:lightgrey;
}

.btn-primary {
    background: var(--primary-color);
    color: var(--white) !important;
}
.btn-primary:hover {
    background:var(--secondary-color);
}

/*@todo eltüntető class lesz majd!!!*/
/*fejléc + menü*/
.main-header {
    position: absolute;
    width: 100%;
    border-bottom:1px solid red;
}
/*sticky header*/
.sticky {
    position: fixed;
    top:0;
    background: var(--white);
}

/*menü mobilon alapból ne látszódjon*/
.main-menu {
    display:none;
}
.menu-toggle {
    position: absolute;
    top:15px;
    right:15px;
}
/*.menu-toggle:focus + .main-menu {!*ideiglenes*!
    display:block;
}*/

/*hajtás magas hero szekció*/
#hero {
    background: url(https://picsum.photos/1920/1200) center no-repeat;
    height:100%;
    background-size: cover;
    padding-top: 65px;
    display:flex;
    align-items: center;
}


footer {
    text-align:center;
}
/**A media-query**/
@media screen and (min-width: 640px) {
    /*tablet 640,768 ...*/
    body {
        background: deeppink;
    }
    /*hordozó viselkedése*/
    .container {
        width: 90%;
    }
    .flex {
        display: flex;
        flex-direction:row;
        align-items: center;
    }
    .menu-toggle {
        display:none;
    }
}

@media screen and (min-width: 1200px) {
    /*desktop*/
    body {
        background: lime;
    }

    /*hordozó viselkedése*/
    .container {
        width: 1170px;
    }
}
